.photo
{
    border-style: inherit;
  
    margin-left: 500px;
    height: 200px;
    width: 300px;
}
.btn
{ 
  float: right;
  margin-top: 10px;
  margin-right: 20px;
 width: 100px;
border-radius: 5px;

}
.text-center
{ font-size: 50px;
 font-weight: bolder;
    color: darkred;
   
}
.font-italic
{
    font-size: 25px;
    font-style: italic;
    color: rgb(36, 36, 153);
    text-align: center;
    margin-top:80px;

}
.image
{ border-style: none;
    margin-left: 300px;
    margin-top: 150px;
 width: 700px;
 height: 200px;
}
.color
{ 
    background-color: beige;
    
}
.form-control
{
  border-style: solid;
  width: 200px;
  margin-top: 20px;
}
.label
{ margin-top: 10px;
    font-size: 20px;
   font-weight: bold;
   color: darkgreen;
    font-style: italic;
    font-style: oblique;
    
}
.form-check-label
{
    font-size: 13px;
    color: rgb(36, 36, 153);
    font-style: oblique;
    font-weight: bold;
}
.form-check-label1
{
    font-size: 15px;
    color: black;
    font-style: italic;
    font-weight: bolder;
}
.btn1
{ 
     
    margin-right: 15px;
   width: 100px;
}
.btn2
{
    margin-left: 250px;
    width: 100px;
    border-radius: 15px;
    margin-top: 60px;
}
.color1
{
    background-color: beige;
    height: 500px;
}
.btn3
{ margin-left: 350px;
    width: 150px;
    border-radius: 10px;
    margin-top: 200px;
   
}
.text-center1
{
    font-size: 70px;
 font-weight: bolder;
    color: rgb(206, 36, 36);
    font-style: italic;
   margin-left: 450px;
}
.form-control1
{
    border-style: double;
    margin-left: 450px;
  
    text-align: center;
}
.font
{
    font-size: 35px;
    font-style: italic;
    color: rgb(82, 134, 231);
font-weight: bolder;
}
.photo1
{
    border-style: solid;
    margin-left: 150px;
    height: 310px;
    width: 300px;
}
.font1{
    font-size: 35px;
    font-style: italic;
    color: rgb(160, 47, 47);
font-weight: bolder;
}
.font2
{
    font-size: 35px;
    font-style: italic;
 color: rgb(2, 59, 2);
font-weight: bolder;
margin-left: 30px;
}
.font3
{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: black;
}
.btn4
{
    width: 100px;
    border-radius: 20px;

}
ul
{
    list-style-image: url("../images/icons8-étoile-100.png");
}
.ul
{
    list-style-image: url("../images/formalab.png")
}